*/bin/
*/target/
target/
*/build/
workspace/
org.knime.core.pmml/src/.gitignore
org.knime.core/src/.gitignore
org.knime.workbench.repository/src/.gitignore
*/**.flattened-pom.xml
.flattened-pom.xml
org.knime.product/knime-product.jar
org.knime.product.testing/product-test.jar
