*, :after, :before {
	box-sizing: border-box;
}

/*
    Google Fonts added on 15.06.16
*/
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto/roboto-regular_1.woff2') format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto/roboto-regular_2.woff2') format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto/roboto-regular_3.woff2') format('woff2');
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto/roboto-regular_4.woff2') format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto/roboto-regular_5.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto/roboto-regular_6.woff2') format('woff2');;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto/roboto-regular_7.woff2') format('woff2');;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium_1.woff2') format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium_2.woff2') format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium_3.woff2') format('woff2');
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium_4.woff2') format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium_5.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium_6.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium_7.woff2') format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold_1.woff2') format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold_2.woff2') format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold_3.woff2') format('woff2');
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold_4.woff2') format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold_5.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold_6.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold_7.woff2') format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto/roboto-black_1.woff2') format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto/roboto-black_2.woff2') format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto/roboto-black_3.woff2') format('woff2');
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto/roboto-black_4.woff2') format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto/roboto-black_5.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto/roboto-black_6.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto/roboto-black_7.woff2') format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../font/roboto/roboto-italic_1.woff2') format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../font/roboto/roboto-italic_2.woff2') format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../font/roboto/roboto-italic_3.woff2') format('woff2');
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../font/roboto/roboto-italic_4.woff2') format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../font/roboto/roboto-italic_5.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../font/roboto/roboto-italic_6.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../font/roboto/roboto-italic_7.woff2') format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium-italic_1.woff2') format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium-italic_2.woff2') format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium-italic_3.woff2') format('woff2');
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium-italic_4.woff2') format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium-italic_5.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium-italic_6.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../font/roboto/roboto-medium-italic_7.woff2') format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold-italic_1.woff2') format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold-italic_2.woff2') format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold-italic_3.woff2') format('woff2');
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold-italic_4.woff2') format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold-italic_5.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold-italic_6.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../font/roboto/roboto-bold-italic_7.woff2') format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../font/roboto/roboto-black-italic_1.woff2') format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../font/roboto/roboto-black-italic_2.woff2') format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../font/roboto/roboto-black-italic_3.woff2') format('woff2');
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../font/roboto/roboto-black-italic_4.woff2') format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../font/roboto/roboto-black-italic_5.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../font/roboto/roboto-black-italic_6.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('../font/roboto/roboto-black-italic_7.woff2') format('woff2');
}
    
/*
    Google Fonts Roboto end
*/

/* Default font size for old or unscaled browsers. */
html {
	font-size: 10px;
}

/* Catching scaled font sizes and/or retina displays for modern browsers only.
   Setting font size to 62.5%, so that the default (usually 16px unscaled) is reset to 10px. */
@media	only screen and (-webkit-min-device-pixel-ratio: 1.2),
		only screen and (-o-min-device-pixel-ratio: 12/10),
		only screen and (min-resolution: 115dpi),
		only screen and (min-resolution: 1.2dppx) {
	
	html {
    	font-size: 62.5%;
	}

}

body {
	font-family: Roboto, BlinkMacSystemFont, -apple-system, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
		Arial, sans-serif;
	font-weight: 300;
	letter-spacing: .007em;
	font-size: 12px;
	font-size: 1.2rem;
	color: #3E3A39;
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow-y: auto;
	background: #EFF1F2 none repeat scroll 0% 0%;
}

h1 {
	font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 8px;
	color: #575757;
}

h2 {
	font-size: 18px;
	font-size: 1.8rem;
}

h3 {
	font-size: 16px;
	font-size: 1.6rem;
}

a {
    color: #ff9f00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#welcome-page-wrapper {
	min-width: 280px;
    margin: 0 auto 10px;
    padding: 0;
    overflow: auto;
    width: 100%;
}

#welcome-page-header {
	padding: 1em 2em;
    box-sizing: border-box;
    background: #FFF;
    width: 100%;
    border-bottom: thin solid #c0c4c6;
}

#intro {
	width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 1em 2em;
}

#welcome-knime {
	color: #3E3A39;
	font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 50px;
	
	/*background-color: pink;
	padding: 0.6em;
	border-radius: 5px;
	margin: 0;*/
}

#carousel-container {
    position: relative;
    margin: 10px auto;
    min-width: 600px;
    max-width: 800px;
    width: 100%;
    height: 305px;
    overflow: hidden;
}

#carousel-content {
	position: absolute;
    top: 0;
    left: 0;
    width: calc(33% * 3);
}

.carousel-tile {
    display: inline-block;
    margin: 0 24px 0 0;
    width: calc(33% - 24px);
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.carousel-tile article {
	position: relative;
}

.aspect4by3 {
    padding-bottom: 133%;
}

.carousel-tile article > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-tile article > div.light {
	background-color: #FFFFFF;
    color: #3e3a39;
}

.carousel-tile article > div > img {
	width: 100%;
    display: block;
    margin: 0 auto;
}

.carousel-tile article > div > div {
	position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 18px;
    word-break: break-word;
}

.carousel-tile article > div > div > a {
    display: inline-block;
	background-color: #FFFFFF;
    color: #3E3A39;
    padding: 5px 15px;
    border: thin solid #3E3A39;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
}

.carousel-tile article > div > div > a:hover {
	background-color: #FFD800;
	border: thin solid #FFD800;
	text-decoration: none;
}

body > h2 {
    margin: 30px auto 20px;
    max-width: 1000px;
}

a .link-label {
	padding-left: 5px;
	vertical-align: middle;
}

a .text {
	padding-left: 75px;
}

#tips > h2 {
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
}

.views-field-title {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
}

#news {
	color: #444;
	max-width: 1000px;
    margin: 20px auto;
	padding: 5px 5px;
	background: #f0f0f0;
	border-radius: 5px;
	clear: both;
}

#news > h2 {
	margin-top: 5px;
}






#properties {
	clear: both;
	color: #666;
	margin-top: 1em;
	border-top: 1px solid #ccc;
}

/* Checkbox style */


#properties input[type=checkbox] {
	border-radius: 3px;
}

#properties label {
    cursor: pointer;
}

/* end */
.hide-button {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.hide-button:hover {
	cursor: pointer;
}


#intro:hover .hide-button {
	display: block;
}

#update:hover .hide-button {
	display: block;
}

#links-and-mru .hide-button {
 	/*right: 10px;*/
}
#links-and-mru:hover .hide-button {
	display: block;
}

/* Fontello Icons Styles*/



.icon-wrench, .icon-book-open, .icon-chart-line, .icon-download, .icon-angle-circled-right {
	    margin-right: 0.7em !important;
}

/* Media Queries */

@media only screen and (max-width: 650px) {
	div#intro-text,
	div#news-graphic,
	div#links,
	div#mru {
		float: none;
		width: 100%;
		display: block;
		margin: 10px 0;
	}
	
	div#intro,
	div#news-graphic {
		margin-bottom: 0;
	}
	
	#links-and-mru .hide-button {
    	right: 5px;
    	top: 15px;
	}
}
