*, :after, :before {
	box-sizing: border-box;
}

/*
    Google Fonts Roboto import
*/

/* roboto-100 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-100italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-100italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900italic - latin_latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('../fonts/roboto/roboto-v19-latin_latin-ext-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto/roboto-v19-latin_latin-ext-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
    
/*
    Google Fonts Roboto end
*/

/* Default font size for old or unscaled browsers. */
html {
	font-size: 10px;
}

/* Catching scaled font sizes and/or retina displays for modern browsers only.
   Setting font size to 62.5%, so that the default (usually 16px unscaled) is reset to 10px. */
@media	only screen and (-webkit-min-device-pixel-ratio: 1.2),
		only screen and (-o-min-device-pixel-ratio: 12/10),
		only screen and (min-resolution: 115dpi),
		only screen and (min-resolution: 1.2dppx) {
	
	html {
    	font-size: 62.5%;
	}

}

body {
	font-family: Roboto, BlinkMacSystemFont, -apple-system, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
		Arial, sans-serif;
	font-weight: 300;
	letter-spacing: .007em;
	font-size: 12px;
	font-size: 1.2rem;
	color: #3E3A39;
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow-y: auto;
	background: #EFF1F2 none repeat scroll 0% 0%;
}

h1 {
	font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 8px;
	color: #575757;
}

h2 {
	font-size: 18px;
	font-size: 1.8rem;
}

h3 {
	font-size: 16px;
	font-size: 1.6rem;
}

a {
    color: #ff9f00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

svg {
	shape-rendering: geometricPrecision;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

#welcome-page-wrapper {
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    width: 100%;
}

#welcome-page-wrapper > div{
    padding-left: 2em;
}

#welcome-page-header {
	position: relative;
	padding: 1em 0em 1em 2em;
    box-sizing: border-box;
    background: #FFF;
    width: 100%;
    border-bottom: thin solid #c0c4c6;
}

.inner-content {
	width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}

#content-container {
	margin-top: 40px;
}

#hub-search-bar {
	display: none;
	height: 40px;
    display: inline-flex;
    width: calc(50% - 2em);
    min-width: 100px;
    max-width: 600px;
    float: right;
}

.flexbox #hub-search-bar {
	display: flex;
}

#hub-search-bar:focus-within {
    box-shadow: 1px 1px 4px 0 hsla(195,2%,52%,.5);
}

#hub-search-bar button {
    border: 0;
    background-color: #EFF1F2;
    line-height: 0;
}

#hub-search-bar button[type=submit] {
	padding: 0 0 0 14px;
}

#hub-search-bar button[type=submit] svg {
	width: 24px;
	height: 24px;
	padding-top: 1px;
	fill: #6E6E6E;
}

#hub-search-bar button[type=submit]:focus svg,
#hub-search-bar button[type=submit]:hover svg {
	fill: #3e3a39;
    outline: none;
}

#hub-search-bar button[type=reset] {
    padding: 0 12px 0 0;
}

#hub-search-bar button[type=reset] svg {
	padding-top: 1px;
	width: 14px;
	height: 14px;
	stroke: #6e6e6e;
	stroke-width: 1.5px;
}

#hub-search-bar [type=search] {
    outline-offset: -2px;
}

#hub-search-bar [type="search"]::-webkit-search-decoration,
#hub-search-bar [type="search"]::-webkit-search-cancel-button,
#hub-search-bar [type="search"]::-webkit-search-results-button,
#hub-search-bar [type="search"]::-webkit-search-results-decoration {
  display: none;
}

#hub-search-bar input {
	width: 100%;
    padding: 0 12px;
    margin: 0;
    border: 0;
    background-color: #EFF1F2;
    color: #3E3A39;
    font-size: 14px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#hub-search-bar input::placeholder {
    font-weight: 300;
    color: #6e6e6e;
}

#hub-search-bar input:-ms-input-placeholder {
	font-weight: 300;
    color: #6e6e6e;
}

/* Hide native IE reset */
#hub-search-bar input::-ms-clear {
    display: none;
}

/* Hide native webkit decorations */
#hub-search-bar input::-webkit-search-decoration,
#hub-search-bar input::-webkit-search-cancel-button,
#hub-search-bar input::-webkit-search-results-button,
#hub-search-bar input::-webkit-search-results-decoration
{
	-webkit-appearance: none;
}

#hub-search-bar input:focus {
    outline: none;
}

#title-wrapper {
    padding-top: 20px;
}


h1#welcome-knime {
	color: #3E3A39;
	font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 2px;
}

h2#welcome-sub {
	color: #3E3A39;
    font-size: 22px;
	font-weight: 300;
    line-height: 33px;
    margin: 0 0 18px;
}

#update-container {
	height: 60px;
	width: 100%;
	background-color: #FFD800;
}

.update-tile {
	width: 100%;
	display: flex;
    align-items: center;
    min-width: 300px;
}

.carousel-length {
	width: 98%;
	max-width: calc(360px * 3 + 48px);
}

.update-tile > img {
	margin-left: 25%;
	width: 24px;
	display: block;
	float: left;
	margin: 0px;
	webkit-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
    margin-top: 5px;
}

.update-tile > p {
	display: block;
	float: left;
	color: #3E3A39;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.1px;
	line-height: 21px;
	margin-left: 10px;
}

.update-tile > div {
	display: block;
	float: right;
	margin-left:auto;
}

.update-tile > div > a {
	padding: 8px;
	color: #3E3A39;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.1px;
	line-height: 20px;
	text-align: center;
}


#carousel-container {
    position: relative;
    margin: 10px auto;
    height: 400px;
}

#carousel-content {
	position: absolute;
    top: 0;
    left: 0;
    width: calc(33% * 3);
}

.carousel-tile {
    display: inline-block;
    margin: 0 24px 0 0;
    width: calc(33% - 16px);
    background-color: #FFFFFF;
    text-align: left;
    max-width: 360px;
    max-height: 396px;
}

.carousel-tile:last-child {
	margin: 0;
}

.carousel-tile article {
	position: relative;
}

.aspect4by3 {
    padding-bottom: 133%;
}

.carousel-tile article > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-tile > article > div > div > .tile-tag-container {
	box-sizing: border-box;
	display: inline-block;
	margin-top: 10px;
	height: 35px;
}

.carousel-tile > article > div > div > div > .tile-tag {
	color: #6E6E6E;
	font-family: Roboto;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.07px;
	line-height: 18px;
	display: inline-block;
	padding: 2px 5px 0px 5px;
	border: 1px solid #6E6E6E;
}

.carousel-tile article > div.light {
	background-color: #FFFFFF;
    color: #3E3A39;
}

.placeholder {
	background-color: #EFF1F2;
}

.placeholder {
	background-size: 100% 500px;
	background-repeat: no-repeat;
	background-image: linear-gradient(to right, rgba(239, 241, 242, 1) 0%,
		rgba(239, 241, 242, 1) 6px, rgba(247, 249, 250, 1) 46px,
		rgba(239, 241, 242, 1) 86px, rgba(239, 241, 242, 1) 100%);
    background-position: -60px 0px;
	animation: loading 2s linear 1s infinite;
}

@keyframes loading {
	0% {background-position: -90px 0px;}
	100% {background-position: 500px 0px;}
}

.carousel-tile article > div > img,
.carousel-tile article > div > div.image-placeholder {
	max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 1640px) {
	.carousel-tile article > div > img {
	   max-height: 180px;
	}

	.carousel-tile article > div {
		max-height: 396px;
	}

	h1#welcome-knime {
		height: 42px;
		width: 848px;
		color: #3E3A39;
		font-family: Roboto;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 0.13px;
		line-height: 42px;
	}

	.carousel-tile > article > div > div > p.tile-title {
		margin-block-end: 0em;
	}

	.carousel-tile > article > div > div > p.tile-sub-title {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 14px;
		letter-spacing: 0.1px;
		line-height: 21px;
		margin-top: 5px;
		visibility: visible;
	}
}


@media only screen and (max-width: 1640px) {
	.carousel-tile article > div > img {
	   max-height: 180px;
	}

	.carousel-tile article > div {
		max-height: 396px;
	}

	h1#welcome-knime {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 0.13px;
		line-height: 42px;
	}

	.carousel-tile > article > div > div > p.tile-title {
		margin-block-end: 0em;
	}

	.carousel-tile > article > div > div > p.tile-sub-title {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 14px;
		letter-spacing: 0.1px;
		line-height: 21px;
		margin-top: 5px;
		visibility: visible;
	}

}

@media only screen and (max-width: 1220px) {
	.carousel-tile article > div > img {
	   max-height: 140px;
	}

	h1#welcome-knime {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 28px;
		font-weight: bold;
		letter-spacing: 0.23px;
		line-height: 34px;
	}

	h2#welcome-sub {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 20px;
		margin-block-start: 0.01em;
		margin-block-end: 0.4em;
		letter-spacing: 0.23px;
		line-height: 34px;
	}

	#content-container {
		margin-top: 20px;
	}

	.carousel-tile > article > div > div > p.tile-title {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.1px;
		line-height: 21px;
		margin-block-end: 0.2em;
	}

	.carousel-tile > article > div > div > p.tile-sub-title {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 14px;
		letter-spacing: 0.1px;
		line-height: 21px;
		margin-top: 5px;
		visibility: visible;
	}

	#hub-search-bar input {
		text-overflow: ellipsis;
	}
	.carousel-tile > article > div > div > p.tile-sub-title {
		-webkit-line-clamp: 3;
	    display: -webkit-box;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	}
}

@media only screen and (min-width: 820px) and (max-width: 930px) {
	.carousel-tile > article > div > div > p.tile-sub-title {
	    -webkit-line-clamp: 2 !important;
	    display: -webkit-box;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	}
}

@media only screen and (max-width: 930px) {
	#welcome-page-wrapper > div {
		padding-left: 1em;
	}
	.carousel-tile {
		margin: 0 16px 0 0;
	    width: calc(33% - 12px);
    }

	.carousel-tile article > div > img {
	   max-height: 115px;
	}

	h1#welcome-knime {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 28px;
		font-weight: bold;
		letter-spacing: 0.23px;
		line-height: 34px;
	}

	h2#welcome-sub {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 18px;
		margin-block-start: 0.01em;
		margin-block-end: 0.4em;
		letter-spacing: 0.23px;
		line-height: 34px;
	}

	#content-container {
		margin-top: 20px;
	}

	.carousel-tile > article > div > div > p.tile-title {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.1px;
		line-height: 21px;
	}

	.carousel-tile > article > div > div > p.tile-sub-title {
	    -webkit-line-clamp: 1;
	    display: -webkit-box;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	}

	.carousel-tile > article > div > div > div > p.tile-tag {
		color: #6E6E6E;
		font-family: Roboto;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 0.07px;
		line-height: 18px;
	}

	#hub-search-bar input {
		text-overflow: ellipsis;
	}

	#update-container > div > div > div > p.tile-text {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 0.1px;
		line-height: 20px;
	}

	#update-container > div {
		height: 100%;
	}

	#update-container > div > div {
		height: 100%;
	}

	#update-container > div > div > div {
		height: 100%;
	}
	.carousel-tile article > div > div.image-placeholder {
		height: 180px;
	}
}

@media only screen and (max-width: 740px) {
	#welcome-page-wrapper > div {
		padding-left: 1em;
	}

	.carousel-tile article > div > img {
	   max-height: 93px;
	}

	h1#welcome-knime {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 28px;
		font-weight: bold;
		letter-spacing: 0.23px;
		line-height: 34px;
	}

	h2#welcome-sub {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 18px;
		margin-block-start: 0.01em;
		margin-block-end: 0.4em;
		letter-spacing: 0.23px;
		line-height: 34px;
	}

	#content-container {
		margin-top: 20px;
	}

	.carousel-tile > article > div > div.content-div {
		padding: 5px;
	}

	.carousel-tile > article > div > div > p.tile-title {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.1px;
		line-height: 21px;
	}

	.carousel-tile > article > div > div > .tile-tag-container {
		height: 5px;
		margin-top: 0px;
	}

	.carousel-tile > article > div > div > div > p.tile-tag {
		color: #6E6E6E;
		font-family: Roboto;
		font-size: 10px;
		font-weight: 500;
		letter-spacing: 0.07px;
		line-height: 18px;
	}

	#hub-search-bar input {
		text-overflow: ellipsis;
	}

	#update-container > div > div > div > p.tile-text {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.1px;
		line-height: 20px;
	}

	.carousel-tile > article > div > div > p.tile-sub-title {
		-webkit-line-clamp: 2;
	    display: -webkit-box;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	}

	#update-container > div > div > div > div > a.button-primary {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0.1px;
		line-height: 20px;
	}

	.carousel-tile > article > div > div.button-div {
		padding-left: 5px;
	}

	.carousel-tile > article > div > div > a.button-primary {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 10px;
		font-weight: bold;
		letter-spacing: 0.1px;
		line-height: 20px;
		padding: 3px 7px;
	}

	#update-container > div {
		height: 100%;
	}

	#update-container > div > div {
		height: 100%;
	}

	#update-container > div > div > div {
		height: 100%;
	}
	.carousel-tile article > div > div.image-placeholder {
		max-height: 120px;
	}
}

@media only screen and (min-width: 610px) and (max-width: 710px) {
	.carousel-tile > article > div > div > p.tile-sub-title {
		-webkit-line-clamp: 1;
	    display: -webkit-box;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	}
	.carousel-tile > article > div > div > div > p.tile-tag {
		margin-block-end: 0px;
    	margin-block-start: 0px;
	}
	.carousel-tile {
	    width: calc(33% - 8px);
	    margin: 0 8px 0 0;
	}
}
@media only screen and (max-width: 610px) {
	.carousel-tile article > div > img {
	   max-height: 180px;
	}

	html, body {
		height: 100%;
	}

	#welcome-page-wrapper {
		display: flex;
	    flex-direction: column;
	    height: 100%;
	}

	#content-container {
		-webkit-flex: 1 1 auto;
	    overflow-y: auto;
	    min-height: 0px;
		min-width: 350px;
	}

	.carousel-tile > article > div > div > div p.tile-tag {
		color: #6E6E6E;
		font-family: Roboto;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 0.07px;
		line-height: 18px;
	}

	.carousel-tile > article > div > div > p.tile-title {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.1px;
		line-height: 21px;
	}

	.carousel-tile > article > div > div > p.tile-sub-title {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 14px;
		letter-spacing: 0.1px;
		line-height: 21px;
		margin-top: 5px;
		visibility: visible;
	}

	.carousel-tile > article > div > div > a.button-primary {
		color: #3E3A39;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 0.08px;
		line-height: 18px;
	}

	#content-container > div#carousel-container {
		display: inline-table;
		overflow: scroll;
	}

	#welcome-page-wrapper {
		min-width: 350px;
	}

	.carousel-tile {
	    display: block;
	    margin: 0 auto 20px auto;
	    width: calc(75% - 16px);
	}

	.carousel-tile:last-child {
		margin: 0 auto 20px auto;
	}
}

@media only screen and (max-width: 360px) {
	.carousel-tile article > div > img {
	   max-height: 140px;
	}
	.carousel-tile > article > div > div > p.tile-sub-title {
		-webkit-line-clamp: 2;
	    display: -webkit-box;
	    overflow: hidden;
	    -webkit-box-orient: vertical;
	}
}

.carousel-tile article > div > div.image-placeholder {
	width: calc(100% - 2px);
	height: 160px;
	margin-top: 1px;
}

.carousel-tile article > div > div {
    padding: 20px;
    padding-top: 0px;
}

.carousel-tile article > div > div > p {
	margin-top: 10px;
}

.carousel-tile article .title-placeholder {
	height: 18px;
	margin-bottom: 0.5em;
}

.carousel-tile article .title-placeholder.line0 {
	width: 30px;
	margin-top: 15px;
}

.carousel-tile article .title-placeholder.line1 {
	width: 180px;
	margin-top: 10px;
}

.carousel-tile article .title-placeholder.line2 {
    width: 150px;
}

.carousel-tile article p.tile-title {
	font-weight: 700;
    font-size: 18px;
    word-break: break-word;
}

.carousel-tile.title-tile article p.tile-title {
	width: 100%;
	padding: 20px;
	color: #FFFFFF;
	background: #3E3A39;
	margin: 0;
}

.carousel-tile article p.tile-title img {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    padding-bottom: 2px;
}

.carousel-tile.update-tile article p.tile-title {
	color: #3E3A39;
	background: #FFD800;
}

.carousel-tile article p.tile-text {
	font-size: 18px;
	font-weight: 300;
}

.carousel-tile.title-tile article p.tile-text {
	padding: 20px;
	margin: 0;
}
 
.carousel-tile article input {
	display: block;
    font-size: 16px;
    margin: 0 auto 1em;
    padding: 4px;
    width: 100%;
}

.carousel-tile article .button-div {
	bottom: 0px;
	padding-bottom: 10px;
	position: absolute;
}

.carousel-tile .button-placeholder,
.carousel-tile .button-primary {
	display: inline-block;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 15px;
    text-decoration: none;
    margin-bottom: 0px;
    text-decoration: none;
    letter-spacing: 0.1px;
    font-family: Roboto;
    color: #3E3A39;
}

.carousel-tile .button-placeholder {
	border: thin solid #EFF1F2;
	cursor: pointer;
	position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
}

.carousel-tile .button-placeholder .button-text-placeholder {
	width: 90px;
	height: 13px;
}

.button-primary {
	border: 1px solid #3E3A39;
	color: #3E3A39;
}

.button-primary:hover,
.button-primary:active,
.button-primary:focus {
	outline: none;
	text-decoration: none;
    background-color: #3E3A39;
    color: #FFFFFF;
}

body > h2 {
    margin: 30px auto 20px;
    max-width: 1000px;
}

a .link-label {
	padding-left: 5px;
	vertical-align: middle;
}

a .text {
	padding-left: 75px;
}

#tips > h2 {
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
}

.views-field-title {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
}

#news {
	color: #444;
	max-width: 1000px;
    margin: 20px auto;
	padding: 5px 5px;
	background: #f0f0f0;
	border-radius: 5px;
	clear: both;
}

#news > h2 {
	margin-top: 5px;
}






#properties {
	clear: both;
	color: #666;
	margin-top: 1em;
	border-top: 1px solid #ccc;
}

/* Checkbox style */


#properties input[type=checkbox] {
	border-radius: 3px;
}

#properties label {
    cursor: pointer;
}

/* end */
.hide-button {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.hide-button:hover {
	cursor: pointer;
}


#intro:hover .hide-button {
	display: block;
}

#update:hover .hide-button {
	display: block;
}

#links-and-mru .hide-button {
 	/*right: 10px;*/
}
#links-and-mru:hover .hide-button {
	display: block;
}