<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="splashExtension" name="KNIME Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension-point id="profileProvider" name="KNIME Profile Provider" schema="schema/profileProvider.exsd"/>

   <extension
         id="KNIME_APPLICATION"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.knime.product.rcp.KNIMEApplication">
         </run>
      </application>
   </extension>
   <extension
         id="KNIME_PRODUCT"
         name="KNIME Analytics Platform"
         point="org.eclipse.core.runtime.products">
      <product
            name="KNIME Analytics Platform"
            application="org.knime.product.KNIME_APPLICATION"
            description="KNIME Analytics Platform">
         <property
               name="windowImage"
               value="icons/png/knime_16.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/png/knime_about.png">
         </property>
         <property
               name="appName"
               value="KNIME">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/png/knime_16.png,icons/png/knime_32.png,icons/png/knime_48.png,icons/png/knime_64.png,icons/png/knime_128.png,icons/png/knime_256.png">
         </property>
         <property
               name="cssTheme"
               value="org.knime.product.theme.knime">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="New KNIME Project..."
            description="Creates a new KNIME project"
            id="open.new.project.wizard">
      </command>
   </extension>
   <extension
         id="KNIME_BATCH_APPLICATION"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.knime.product.headless.KNIMEBatchApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.knime.product.KNIMESplashHandler"
            id="org.knime.product.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="org.knime.product.splashHandlers.extensible"
            productId="org.knime.product.KNIME_PRODUCT">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.knime.product.p2.actions.ShellExec"
            name="shellexec"
            touchpointType="org.eclipse.equinox.p2.osgi"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.knime.product.p2.actions.ExtractTarGz"
            description="Extracts a tar.gz/tar.bzip2/tar archive into a given folder"
            name="untar"
            touchpointType="org.eclipse.equinox.p2.osgi"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/knime.css"
            id="org.knime.product.theme.knime"
            label="KNIME">
      </theme>
   </extension>
   <extension
         id="KNIME_PROTOCOL_APPLICATION"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="false">
         <run
               class="org.knime.product.rcp.KNIMEProtocolApplication">
         </run>
      </application>
   </extension>
   <extension
         id="org.knime.product.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <!-- The following activity definition removes all listed views from the AP -->
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="forbidden.contributions"
            name="Hidden Contributions">
      </activity>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.gef/org.eclipse.gef.ui.palette_view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.ide/org.eclipse.ui.views.(BookmarkView|ResourceNavigator|AllMarkersView|ProblemView|TaskList)">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.navigator.resources/org.eclipse.ui.navigator.ProjectExplorer">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.workbench.texteditor/.*View">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.ant.ui/org.eclipse.ant.ui.views.AntView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.debug.ui/.*View">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.jdt.ui/.*([V|v]iew|PackageExplorer|TypeHierarchy)">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.cheatsheets/.*View">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.help.ui/.*View">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.pde.api.tools.ui/.*view">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.wst.xml.ui/.*[V|v]iew">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.datatools.connectivity.ui.dse/org.eclipse.datatools.connectivity.DataSourceExplorerNavigator">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.datatools.sqltools.plan/org.eclipse.datatools.sqltools.plan.planView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.datatools.sqltools.result.ui/org.eclipse.datatools.sqltools.result.resultView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.wst.common.snippets/org.eclipse.wst.common.snippets.internal.ui.SnippetsView">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.search/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.text.quicksearch/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.views/org.eclipse.ui.views.PropertySheet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="forbidden.contributions"
            isEqualityPattern="false"
            pattern="org.eclipse.team.ui/.*View">
      </activityPatternBinding>
   </extension>
</plugin>
